**/*.o
**/*.out
**/.idea
**/cmake-build-debug
**/.vscode
**/.DS_Store
**./*.dSYM
**./*.txt
**./*.gcno
**./*.gcda
**./*.fib.cpp
boost_1_70_0/
boost/
**./boost/
main.dSYM/
main.out.dSYM/
**.main.dSYM/
**.main.out.dSYM/
**.Doxyfile/
Doxyfile
